* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    max-width: 1250px;
    margin: auto;
    padding: 0 10px;
    display: grid;

    grid-template-columns: auto auto auto auto;
    
    grid-template-areas: 
    "header header header header"
    "menu menu menu menu"
    "bar main main main"
}

.header { grid-area: header; }

.bar { grid-area: bar }

.main { grid-area: main }


/* 
.meal-table {
    border: solid black 2px;
    width: 70%;
    float: left;
}

.meal-table th {
    font-size: 1.5rem;
    border-bottom: solid black 2px;
}

.meal-table * {
    padding: 1px;
    margin: 2px;
    text-align: center;
}

.meal-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .3);
}

.meal-table tbody td{
    border-right: solid rgba(0, 0, 0, .3) 1px;
}

.meal-table td {
    border-bottom: solid black 1px;
    height: 7rem;
    width: 14%;
    
}

.meal-bar {
    float: left;
    width: 30%;
}

.meal-item {
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    float: left;
    width: auto;
}

.meal-bar label {
 width: 100%;
}

.meal-bar input {
    border: solid black 2px;
    width:95%;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

.menu {
    display: block;
    list-style: none;
}

.menu button {
    border: solid black 2px;
    border-radius: 3px;
    background-color: rgba(0, 0, 220, .3);
    padding: 10px;
    min-width: 75px;
    font-size: 1.1rem;
}

.active {
    background-color: blue;
}

form{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    grid-auto-rows: 25px;

}
 
form label, form input, form button {
    grid-column-start: 1;
}

form textarea {
    grid-column-start: 1;
    grid-row: span 3;
} 

.ingredient {
    grid-column-start: span 1;
} 
*/